.about-us-container {
    display: flex;
    background-color: #ececc4;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-us-content {
    width: 100%;
  }

  .center-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
  }
  
  
  .about-us-images {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  
  .about-us-images img {
    max-width: 100%;
    height: auto;
  }

  .contact-us {
    background-color: #FFFF80;
  }
  
  