<header>
    <img src="assets/varma.png" alt="Varma Logo" class="logo">
    <nav>
      <ul>
        <li><a routerLink="/about-us">About Us |</a></li>
        <li><a routerLink="/blogs">Blogs  |</a></li>
        <li><a routerLink="/videos">Videos  |</a></li>
        <li><a routerLink="/yogas">Yogas  |</a></li>
        <li><a routerLink="/meditation">Meditation  |</a></li>
        <li><a routerLink="/webinar">Webinar  |</a></li>
        <li><a routerLink="/contact-us">Contact Us  |</a></li>
      </ul>
    </nav>
  </header>



  <router-outlet></router-outlet>
  <div class="about-us-container">
    <div class="about-us-content">
        <div class="center-container">
            <h1>" The 7 Pillars of Life "</h1>
            <p style="font-size: 30px">
              Have you ever noticed how the number 7 seems to hold a special place in our world? From lucky 7s to the seven wonders of the world, this number has always been surrounded by a sense of mystery and power. Cultures across history have revered it for its mystical significance, and it continues to capture our imaginations to this day. It appears in numerous aspects of our daily lives, such as the 7 colors of the rainbow, 7 continents on Earth, 7 days of the week, and 7 chakras in the human body. The 7 wonders of the world are a testament to human creativity and ingenuity, showcasing our ability to achieve the impossible. Additionally, there are 7 essential pillars of life that are vital to our overall well-being, ranging from physical health to emotional and spiritual growth. By adopting and integrating these pillars into our lives, we can become more resilient, improve our mental and physical health, and grow as individuals.
            </p>
          </div>
          
    </div>
  </div>

<footer>
    <div class="footer-column">
      <h3>About</h3>
      <ul>
        <li><a>Open Hours of Government: Mon - Fri: 8.00 am - 6.00 pm.</a></li>
        <li><a>13/A, Miranda Halim City,</a></li>
        <li><a> 0 999 989 898</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Services</h3>
      <ul>
        <li><a routerLink="/services">All Services</a></li>
        <li><a routerLink="/web-design">Web Design</a></li>
        <li><a routerLink="/seo">SEO</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/terms">Terms of Use</a></li>
      </ul>
    </div>
    
    <div class="footer-column">
      <h3>Recent Posts</h3>
      <ul>
        <li><a>Open Hours of Government: Mon - Fri: 8.00 am - 6.00 pm.</a></li>
        <li><a>13/A, Miranda Halim City,</a></li>
        <li><a> 0 999 989 898</a></li>
      </ul>
    </div>
  </footer>
