<!-- <header>
  <img src="assets/varma.png" alt="Varma Logo" class="logo">
  <nav>
    <ul>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/blogs">Blogs</a></li>
      <li><a routerLink="/videos">Videos</a></li>
      <li><a routerLink="/yogas">Yogas</a></li>
      <li><a routerLink="/meditation">Meditation</a></li>
      <li><a routerLink="/webinar">Webinar</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>
<div *ngIf="cUrl == '/'">
   <app-about-us></app-about-us>
   <app-meditation></app-meditation>
   <app-videos></app-videos>
   <app-webinar></app-webinar>
   <app-yogas></app-yogas>
</div>

<footer>
  <div class="footer-column">
    <h3>About</h3>
    <ul>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/team">Our Team</a></li>
      <li><a routerLink="/history">History</a></li>
    </ul>
  </div>
  
  <div class="footer-column">
    <h3>Services</h3>
    <ul>
      <li><a routerLink="/services">All Services</a></li>
      <li><a routerLink="/web-design">Web Design</a></li>
      <li><a routerLink="/seo">SEO</a></li>
    </ul>
  </div>
  
  <div class="footer-column">
    <h3>Quick Links</h3>
    <ul>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/terms">Terms of Use</a></li>
    </ul>
  </div>
  
  <div class="footer-column">
    <h3>Recent Posts</h3>
    <ul>
      <li><a routerLink="/post-1">Post 1</a></li>
      <li><a routerLink="/post-2">Post 2</a></li>
      <li><a routerLink="/post-3">Post 3</a></li>
    </ul>
  </div>
</footer>

 -->

 <app-common></app-common>
